.article-detail-text {
  padding-top: 40px;
}
.article-detail-buttons-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
}

.file-delete-button {
  background-color: rgb(255, 149, 132);
  padding-left: 8px;
  padding-right: 7px;
  padding-top: 1px;
  padding-bottom: 3px;
  border-radius: 300px;
  &:hover {
    cursor: pointer;
  }
}