.article-list {

}
.article-list-item {
  padding-top:10px;
  padding-bottom: 10px;
  .meta-information {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .list-group-item-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}