.article-detail-text {
  padding-top: 40px;
}
.article-detail-buttons-wrapper {
  padding-bottom: 25px;
}
.article-detail-sidebar-wrapper {
  padding-top: 5px;
}

.page-header {
  h1 {
    word-break: break-all;
  }
}


.file-delete-button {
  color: #d9534f;
  &:hover {
    cursor: pointer;
  }
}