#knowl-content-container {
  padding-top: 60px;
}

.list-group-item-files {
  margin: 5px 5px 5px 0px;
  display: inline-block;
}

.dropzone {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.loading-spinner {
  margin-top: 100px;
}