<div class="list-group-item">
    <div class="row article-list-item">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="list-group-item-heading"><a href="#/article/{{item.id}}" id="searchresult-{{index}}">{{item.title}}</a>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="list-group-item-text" ng-bind-html="sanatizedArticleText"></p>
                        </div>
                    </div>
                    <div class="row hidden-xs" ng-if="item.documents.length > 0">
                        <div class="col-sm-12">
                            <b>Files: </b><span class="list-group-item-files" ng-class="{'marked-file': document.containsSearchText}"
                                                ng-repeat="document in item.documents">{{document.name | limitTo: 10}}{{document.name.length > 30 ? '...' : ''}}.{{document.filetype}},</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 meta-information">
                    <div class="row">
                        <div class="col-sm-12">
                            <span>Author: <a href="#/search?q=author:'{{item.author.name}}'" id="authorSearch">{{item.author.name}}</a></span>
                        </div>
                    </div>
                    <div class="row" ng-if="item.changedBy.name">
                        <div class="col-sm-12">
                            <span>Last changed by: <a href="#/search?q=author:'{{item.changedBy.name}}'" id="changedBySearch">{{item.changedBy.name}}</a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span>Last changed: {{date}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
