<section class="full-height" >
    <last-seen-article-directive is-temporary="article.isTemporary"></last-seen-article-directive>
    <div class="container" id="knowl-content-container">
        <div class="row">
            <!-- Content -->
            <div class="col-lg-9 col-md-8 col-xs-12">
                <!-- buttons for mobile version -->
                <div class="row visible-xs">
                    <div class="col-xs-6">
                        <div ng-hide="isEditing" class="dropdown">
                            <button  ng-disabled="(article.lastChangedBy.email === '' && article.author.email === '')" class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-bell-o" aria-hidden="true"></i> Alert
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-hide="article.lastChangedBy.email === ''"><a href="mailto:{{article.lastChangedBy.email}}?subject={{article.title}}">Last Editor</a></li>
                                <li ng-hide="article.author.email === ''"><a href="mailto:{{article.author.email}}?subject={{article.title}}">Original Author</a></li>
                            </ul>
                        </div>
                        <button type="button" ng-show="isEditing" class="btn btn-default btn-block"
                                ng-click="cancelEditing()"><i class="fa fa-ban" aria-hidden="true"></i> Cancel
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" ng-hide="isEditing" class="btn btn-default btn-block"
                                ng-click="startEditing()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                        </button>
                        <button type="button" ng-show="isEditing" class="btn btn-default btn-block"
                                ng-click="saveArticle()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                        </button>
                    </div>
                </div>

                <!-- title and content of article-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h1>{{article.title}}</h1>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="isEditing">
                    <div class="col-sm-3">
                        <span><b>Author:</b> <a href="#/search?q=author:'{{article.author.name}}'" id="searchByAuthor">{{article.author.name}}</a></span>
                    </div>
                    <div class="col-sm-4">
                        <span><b>Last changed by:</b> <a href="#/search?q=author:'{{article.lastChangedBy.name}}'"
                                                         id="searchByChangedBy">{{article.lastChangedBy.name}}</a></span>
                    </div>
                    <div class="col-sm-5">
                        <span><b>Last changed:</b> {{date}}</span>
                    </div>
                </div>
                <div class="row" ng-show="isEditing">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-group">
                                <label for="titelInput">Title:</label>
                                <input type="text" class="form-control" id="titelInput" placeholder="Title"
                                       ng-model="article.title">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" ng-show="isEditing">
                    <div class="col-lg-6">
                        <form name="myForm">
                            <div class="form-group" ng-hide="article.isTemporary === true">
                                <label for="changedbyInput">Your Name:</label>
                                <input type="text" class="form-control" id="changedbyInput" placeholder="Your name"
                                       ng-model="lastChangedBy.name">
                            </div>
                            <div class="form-group" ng-hide="article.isTemporary === false">
                                <label for="authorInput">Your Name:</label>
                                <input type="text" class="form-control" id="authorInput" placeholder="Your name"
                                       ng-model="article.author.name">
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <form>
                            <div class="form-group" ng-hide="article.isTemporary === true">
                                <label for="changedbyEmailInput">Your E-mail Adress:</label>
                                <input type="text" class="form-control" id="changedbyEmailInput"
                                       placeholder="Last Changed Email" ng-model="lastChangedBy.email">
                            </div>
                            <div class="form-group" ng-hide="article.isTemporary === false">
                                <label for="authorEmailInput">Your E-mail Adress:</label>
                                <input type="text" class="form-control" id="authorEmailInput" placeholder="Author Email"
                                       ng-model="article.author.email">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" ng-hide="isEditing">
                    <div class="col-sm-12">
                        <p class="article-detail-text">

                        <div ng-bind-html="sanatizedArticleText"></div>
                        </p>
                    </div>
                </div>
                <div class="row" ng-show="isEditing">
                    <div class="col-sm-12">
                        <form method="post">
                            <textarea ui-tinymce="tinymceOptions" ng-model="article.text"></textarea>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Sidebar for desktop version -->
            <div class="article-detail-sidebar-wrapper col-lg-3 col-md-4 col-xs-12">
                <div class="row article-detail-buttons-wrapper hidden-xs">
                    <div class="col-lg-6">
                        <div class="dropdown" ng-hide="isEditing">
                            <button ng-disabled="(article.lastChangedBy.email === '' && article.author.email === '')" class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown" id="openAlertDropdown"><i class="fa fa-bell-o" aria-hidden="true"></i> Alert
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-hide="article.lastChangedBy.email === ''"><a href="mailto:{{article.lastChangedBy.email}}?subject={{article.title}}" id="alertLastChanged">Last Editor</a></li>
                                <li ng-hide="article.author.email === ''"><a href="mailto:{{article.author.email}}?subject={{article.title}}" id="alertOriginalAuthor">Original Author</a></li>
                            </ul>
                        </div>
                        <button type="button" ng-show="isEditing" id="cancelEditing" class="btn btn-default btn-block"
                                ng-click="cancelEditing()"><i class="fa fa-ban" aria-hidden="true"></i> Cancel
                        </button>
                    </div>
                    <div class="col-lg-6">
                        <button type="button" ng-hide="isEditing" id="startEditing" class="btn btn-default btn-block"
                                ng-click="startEditing()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                        </button>
                        <button type="button" ng-show="isEditing" id="saveArticle" class="btn btn-default btn-block"
                                ng-click="saveArticle()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                        </button>
                    </div>
                </div>
                <div class="row article-detail-buttons-wrapper" ng-hide="article.isTemporary">
                    <div class="col-lg-12">
                        <previous-version-modal-directive article-id="{{articleId}}"></previous-version-modal-directive>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Files:</h3>
                            </div>
                            <div class="panel-body">
                                <div class="dropzone hidden-xs" id="dropzone" ng-show="isDragging">Drag files here</div>
                                <div class="row" ng-show="isEditing">
                                    <div class="col-lg-12 hidden-xs">
                                        <label class="btn btn-default btn-block" id="fileUploadInput">
                                            <span>
                                                <i class="fa fa-upload" aria-hidden="true"></i>
                                                Upload
                                            </span>
                                             <input type="file"  name="file"
                                                          style="display: none;"
                                                          onchange="angular.element(this).scope().uploadFile(this.files)" multiple/>
                                        </label>
                                        <hr>
                                        <div class="progress" ng-show="isUploading">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadProgress}}%;">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="list-group" id="files">
                                            <li ng-repeat="file in article.documents" class="list-group-item">
                                                <span class="file-delete-button" ng-show="isEditing"
                                                      ng-click="deleteFile($index)" id="deleteFileBtn"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                                                <span class="badge">{{file.filetype | limitTo: 4}}</span>
                                                <a href="{{baseUrl}}{{file.path}}" title="{{file.name}}" target="_blank" class="fileDownload">
                                                    {{file.name | limitTo: 10}}{{file.name.length > 12 ? '...' : ''}}
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isEditing">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-block btn-warning" ng-hide="article.isTemporary" id="deleteArticleBtn" ng-click="deleteArticle()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Article</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <confirmation-modal-directive></confirmation-modal-directive>
</section>

