<div class="list-group">
    <div class="list-group-item" ng-repeat="tmb in articleTmbs">
        <div class="row article-list-item">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="list-group-item-heading"><a href="#/article/{{tmb.id}}">{{tmb.title}}</a>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="list-group-item-text">{{tmb.text | limitTo: 300}}</p>
                            </div>
                        </div>
                        <div class="row hidden-xs">
                            <div class="col-sm-12">
                                <b>Files: </b><span class="list-group-item-files"
                                                    ng-repeat="file in tmb.files">{{file.name}}.{{file.type}},</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 meta-information">
                        <div class="row">
                            <div class="col-sm-12">
                                <span>Author: <a href="#">{{tmb.author.name}}</a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <span>Last changed by: <a href="#">{{tmb.changedBy.name}}</a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <span>Last changed: <a href="#">{{tmb.lastChanged}}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

